<div class="card-panel
      <%=
        if task.urgent=='true' and task.important=='true'
          then 'red'
        elsif task.urgent=='true' and task.important=='false'
          then 'orange'
        elsif task.urgent=='false' and task.important=='true'
          then 'green'
        else 'blue-grey' end%>
      darken-1" draggable="true"
    ondragstart="drag(event)" id="<%= dom_id(task) %>"
    ondrop="" ondragover="" style="padding:5px">
  <div class="card-content white-text">
    <%= best_in_place task, :content, :as => :textarea %>
    <br/>
  </div>
  <div class="card-action">
    <%= link_to "<i class='fa fa-edit white-text' aria-hidden='true'></i>".html_safe,
            edit_task_path(task) %>
    <%= link_to "<i class='fa fa-trash-o white-text' aria-hidden='true'></i>".html_safe,
            task_path(task), method: :delete,
            data: { confirm: 'Are you sure?' }, class: "right" %>
  </div>
</div>
