<div class="card-panel
      <%=
        if task.urgent=='true' and task.important=='true'
          then 'red'
        elsif task.urgent=='true' and task.important=='false'
          then 'orange'
        elsif task.urgent=='false' and task.important=='true'
          then 'green'
        else 'blue-grey' end%>
      darken-1" draggable="true"
    ondragstart="drag(event)" id="<%= dom_id(task) %>"
    ondrop="" ondragover="" style="padding:5px">
  <% if task.state=="open" %>
  <input type="checkbox" id="checkbox<%= dom_id(task) %>" class="filled-in"/>
  <label for="checkbox<%= dom_id(task) %>">
  <% end %>
  <div class="card-content white-text">
    <%= best_in_place task, :content, :as => :textarea %>
    <br/>
 </div>
  <% if task.state=="open" %>
  </label>
  <% end %>
  <div class="card-action" style="min-height: 16px">
    <%= best_in_place task, :deferred_until, :as => :date, :id => "deferdate",
	:place_holder => "<i class='fa fa-forward'></i>",
	:class=>"white-text"
    %>
    <%= link_to "<i class='fa fa-trash-o white-text' aria-hidden='true'></i>".html_safe,
            task_path(task), method: :delete,
            data: { confirm: 'Are you sure?' }, class: "right" %>
  </div>
</div>
