<div class="container">
  <div class="row">
    <h1>Tasks</h1>

    <% [["Open",@open],["WIP",@wip],["Closed",@closed]].each do |title,list| %>
      <div class="col l4 12 grey">
      <h2><%= title %></h2>

        <% list.each do |task| %>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <%= task.content %>
              <br>
              <%= link_to 'Show', task %>
              <%= link_to 'Edit', edit_task_path(task) %>
              <%= link_to 'Destroy', task, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              <br>
              <% [["Open","open"],["WIP","wip"],["Closed","closed"]].each do
                     |verb,state| %>
                <%= link_to verb, change_task_path(task, state: state),
                    method: :put %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  <br>
  </div>

  <div class="row">
    <%= link_to 'New Task', new_task_path %>
  </div>
</div>
